<!--use extends keyworkd to use layout.html-->
{% extends "layout.html" %}
{% block content %}
 <h2>Network Automation using Python & Flask by Zia!</h2>
 <!--for statemnet use curly braces and percentage sign-->
 {% for switch in zia_ios_switches%}
 <!--for variable use dounle curly braces-->
  <ol><p>{{switch}}</p></ol>
 {%endfor%}
 <!-- zia created this table
 <table>
   <caption>login</caption>
   <tr><td>username(without \ysi)</td> <td><dd><input type="text" name="Username"></dd></td></tr>
   <tr><td>password</td> <td><dd><input type="password" name="Password"></dd></td></tr>
 </table>
 -->


{% endblock content %}
