<!--use extends keyworkd to use layout.html-->
{% extends "layout.html" %}
{% block content %}
  <h2> Resources</h2>
  <h4>Flask document</h4>
  <p>https://flask.palletsprojects.com/en/1.1.x/</p>
  <hr />
  <h4>CoreyMSchafer-Youtube</h4>
  <p>https://www.youtube.com/watch?v=MwZwr5Tvyxo&t=311s </p>
  <hr />
  <h4>CoreyMSchafer-Github</h4>
  <p>https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog</p>
  <hr />
  <h4>Bootstrap</h4>
  <p>https://getbootstrap.com/docs/4.5/getting-started/introduction/</p>  <!--boitstrap-->
  <hr />
  <h4>snippets</h4>
  <p>https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/snippets/</p>  <!--snippets-->
  <hr />

{% endblock content %}
