<!--use extends keyworkd to use layout.html-->
{% extends "layout.html" %}
{% block content %}
  <h2> Resources</h2>
  <!--hyperlingks are enclosed by <a></a> anchor tag-->
  <!-- <ul></ul> tag is for unorderd list-->
  <ul>
  <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask document</a>
  <hr />
  <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&t=311s">CoreyMSchafer-Youtube</a>
  <hr />
  <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog">CoreyMSchafer-Github</a>
  <hr />
  <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">Bootstrap</a>  <!--boitstrap-->
  <hr />
  <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/snippets/">snippets</a>  <!--snippets-->
  <hr />
  </ul>
  <div class="footer">
  <!--<footer>-->
  <a href="mailto:mdziaurkhan@gmail.com?subject=feedback">email me</a>
  <!--</footer>-->
  </div>

{% endblock content %}
