hostname {{hostname_input}}

enable password {{enable_password_input}}

aaa new-model
aaa authentication login default local

username {{username_input}} privilege 15 password {{password_input}}

line vty 0 15
privilege level 15
logging synchronous
transport input ssh
