router bgp {{switch_bgp_asn}}
   vrf PROD
      route-target import evpn 50255:50255
      !
      route-target export vpn-ipv4 50100:50100
      route-target import vpn-ipv4 50100:50100
      route-target import vpn-ipv4 50255:50255
      redistribute connected
!
   vrf SHARED
      route-target import evpn 50100:50100
      !
      route-target export vpn-ipv4 50255:50255
      route-target import vpn-ipv4 50255:50255
      route-target import vpn-ipv4 50100:50100
      redistribute connected
